.VideoSection {
  background-color: chartreuse;
  grid-column: mobile-center-start/mobile-center-end;

  @media only screen and (min-width: 768px) {
    grid-row: 6 / span 1;
    grid-column: center-start/center-end;
  }
}
